{% load i18n admin_urls static admin_modify %}
<div class="inline-group sortable" id="{{ inline_admin_formset.formset.prefix }}-group">
    <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
        {{ inline_admin_formset.formset.management_form }}
        <fieldset class="module {{ inline_admin_formset.classes }}">
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            {{ inline_admin_formset.formset.non_form_errors }}
            <table>
                <thead><tr><th>{% trans "Sort" %}</th>
                    {% comment %}
                    This template is copied from adminsortable2 v 0.7.7 . The following code contains a bug, namely,
                    if the first field is hidden then no th will be marked with a colspan of 2. Instead, always use
                    a th with class "original", as copied from Django 2.2 code.

                    TODO: report bug

                    {% for field in inline_admin_formset.fields %}
                        {% if not field.widget.is_hidden %}
                            <th{% if forloop.first %} colspan="2"{% endif %}{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                    {% endcomment %}
                    <th class="original"></th>
                    {% for field in inline_admin_formset.fields %}
                        {% if not field.widget.is_hidden %}
                            <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}
                                {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}" />{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                    {% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}
                </tr></thead>

                <tbody>
                    {% for inline_admin_form in inline_admin_formset %}
                        {% if inline_admin_form.form.non_field_errors %}
                            <tr><td colspan="{{ inline_admin_form|cell_count|add:1 }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
                        {% endif %}
                        <tr class="form-row {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
                            id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                            <td class="drag">&nbsp;</td>
                            <td class="original">
                                {% if inline_admin_form.original or inline_admin_form.show_url %}<p>
                                    {% if inline_admin_form.original %}
                                        {{ inline_admin_form.original }}
                                        {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}<a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="inlinechangelink">{% trans "Change" %}</a>{% endif %}
                                    {% endif %}
                                    {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}
                                </p>{% endif %}
                                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                                {{ inline_admin_form.fk_field.field }}
                                {% spaceless %}
                                    {% for fieldset in inline_admin_form %}
                                        {% for line in fieldset %}
                                            {% for field in line %}
                                                {% if field.field.is_hidden %} {{ field.field }} {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endspaceless %}
                            </td>
                            {% for fieldset in inline_admin_form %}
                                {% for line in fieldset %}
                                    {% for field in line %}
                                        {% if not field.field.is_hidden %}
                                            <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
                                                {% if field.is_readonly %}
                                                    <p>{{ field.contents }}</p>
                                                {% else %}
                                                    {{ field.field.errors.as_ul }}
                                                    {{ field.field }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            {% if inline_admin_formset.formset.can_delete %}
                                <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

<script type="application/json" class="inline-tabular-config">
{
  "prefix": "{{ inline_admin_formset.formset.prefix|escapejs }}",
  "addText": "{% filter escapejs %}{% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}{% endfilter %}",
  "deleteText": "{% filter escapejs %}{% trans 'Remove' %}{% endfilter %}"
}
</script>
<div class="default_order_field" default_order_field="{{ inline_admin_formset.formset.default_order_field }}" default_order_direction="{{ inline_admin_formset.formset.default_order_direction }}"></div>
